/* Color scheme */
:root {
  --textcolor: #121212;
  --bgcolor: #fff;
  --highlight: #2749c9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --textcolor: #dadada;
    --bgcolor: #141414;
    --highlight: #ffc400;
  }
}

body {
  font-size: 18px;
  font-family: system-ui, sans-serif;
  line-height: 1.4;
  color: var(--textcolor);
  background: var(--bgcolor);
  margin: 0;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--highlight);
}

a:hover {
  border-bottom: 1px solid;
}

h1, h2, h3, h4 {
  font-size: 1em;
  font-weight: 600;
  margin: 1.6em 0 .6em 0;
}

p, ul, ol, article {
  margin-bottom: .6em;
}

ul li::marker {
  content: "\2022   ";
}

li {
  margin-bottom: .2em;
}

ul, ol {
  padding-left: 2ch;
}

img, svg, video, audio {
  display: block;
  max-width: 100%;
  height: auto;
  fill: currentColor;
}

@media (min-width: 768px) {
  body {
    padding: 2rem;
  }

  h1, h2, h3, h4 {
    margin-left: 5vw;
  }

  p, ul, ol, article {
    margin-left: 5vw;
  }
}
