[Unit]
Description=Gunicorn instance to serve mbm blog
After=network.target

[Service]
User=mbm
Group=www-data
WorkingDirectory=/home/mbm/mbmblog
Environment="PATH=/home/mbm/mbmblog/python_venv/bin"
ExecStart=/home/mbm/mbmblog/python_venv/bin/gunicorn --workers 3 --bind unix:TeaUponTweed.github.io.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
